.container {
    display: flex;
    flex-wrap: wrap;   
    gap: 10px;         
    background-color: #ddd;
    padding: 10px;
}

.item {
    width: 150px;
    background-color: lightblue;
    border: 2px solid navy;
    padding: 20px;
    margin: 5px;
}